<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>charpi.Muse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotify-ios-quick-start</string>
			</array>
		</dict>
	</array>
  <key>SpotifyClientID</key>
  <string>05de78e3bdfb459983d1e6c548358be7</string>
  <key>SpotifyRedirectURL</key>
  <string>spotify-ios-quick-start://spotify-login-callback</string>
  <key>NSAppTransportSecurity</key>
  <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
  </dict>
</dict>
</plist>
